#menuButton {
  background: transparent;
  color: white;
  border: 1px dotted rgba(255, 255, 255, 0.13);
  width: 100%;
  padding: 0;
  font-size: 1.3em;
  line-height: 1.75em;
  @media screen and (min-width: $medium) {
    display: none;
  }
}

.toggled #menuButton {
  border: 1px dotted rgba(255, 255, 255, 1);
  i:before {
    content: "\f00d";
  }
}

#secondaryMenu {
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  li {
    padding-right: 1em;
    padding-left: 1em;
    display: inline-block;
    border-right: 1px solid white;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      border: none;
      padding-right: 0;
    }
  }
  a {
    font-family: $font-primary;
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5em;
    width: 100%;
  }
}

#primaryMenu {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  li {
    padding-left: 1em;
    display: flex;
    flex-flow: row wrap;
  }
  a {
    font-family: $font-primary;
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.7em;
    width: 100%;
    border-bottom: 1px solid white;
  }
}

@media screen and (max-width: $medium) {
  #primaryMenu {
    display: none;
  }

  .toggled #primaryMenu {
    display: block;
  }
}