@media screen and (min-width: $medium) {
  #secondaryMenu {
    text-align: right;
  }
  #primaryMenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    li {

    }
    li a {
      border: none;
    }
    > li > .sub-menu {
      text-align: left;
      background: $dark;
      white-space: nowrap;
      li {
        padding-left: 0;
      }
      li a {
        padding-left: .5em;
        padding-right: .5em;
      }
    }
  }
}